<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejemplo de LitElement</title>
</head>
<body>
    <h1>Hola, este sera mi formulario</h1>
  <!-- Aquí es donde aparecerá nuestro componente -->
  <mi-componente></mi-componente>

  <mi-componente></mi-componente>

  <input type="text" name="nose" value="esto esta credo manualmente">

  <!-- Importamos la biblioteca LitElement -->
  <!-- <script type="module" src="https://unpkg.com/lit-element/lit-element.js"></script> -->

  <!-- Importamos nuestro archivo JavaScript -->
  <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    <br>

    <h2>Formulario numero 2 con componenetes</h2>

    <my-input
    value="Muse Lo Mejor"
    name="como"
    ></my-input>

    <!-- <a href="{% url 'lista_personas' %}">Ver Lista de Personas</a> -->


  <script type="module" src="static/scripts/components/first-component.js"></script>
</body>
</html>