<!DOCTYPE html>
<html>
<head>
	<title>export too html</title>
</head>
<body>
	<h2>Formulario de Persona</h2>
	<h3>Este es un formulario de Persona</h3>
	<form id="formPersona">
	  <label for="nombre">Nombre:</label><br>
	  <input type="text" id="nombre" name="nombre" value="Edgar"><br>
	  <label for="apellido">Apellido:</label><br>
	  <input type="text" id="apellido" name="apellido" value="Aguirre"><br>
	  <label for="email">Email:</label><br>
	  <input type="email" id="email" name="email" value="edgar@gmail.com"><br>
	  <label for="telefono">Teléfono:</label><br>
	  <input type="tel" id="telefono" name="telefono" value="983454345"><br><br>
	  <button type="button" onclick="generarPDF()">Generar PDF</button>
	</form>
</body>
</html>